{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Appointment scheduling API",
    "description": "## Appointment scheduling software API\n\n[DaySchedule](https://dayschedule.com/) is a cloud-based appointment scheduling software that allows businesses to manage their appointments and reservations online. Our API documentation provides you detailed information on how to integrate DaySchedule into an existing website or application to access almost every feature of DaySchedule via the API.\n\nThe API can be used to perform various actions such as:\n\n- Creating a resource: e.g event, [webinar](https://dayschedule.com/products/webinar-software) or services\n- Creating [1:1](https://dayschedule.com/products/1-1-meeting-sofware), [round-robin](https://dayschedule.com/products/round-robin-scheduling-software) and [group events](https://dayschedule.com/products/group-scheduling-software)\n- Checking available slot for a particular day, week or month\n- Creating and updating an appointment\n- Retrieving information about appointments and customers\n- Canceling appointments\n- Download booking and reports.\n\nThe API documentation includes information on authentication and authorization, request and response formats with example JSON for each endpoint.\n\n### SDK\n\nWe’ve also included some programming language examples in Node.js,\nPython, Java, PHP and C# to check the calendar availability and\nbook an appointment online using our REST API.\n\nWe are also publishing our official SDK and it's recommended\nto use our SDK whenever available -\n\n| Language                                                 |   Installation guide    |\n| -------------------------------------------------------- | :---------------------: |\n| [Node.js](https://www.npmjs.com/package/dayschedule-api) | `npm i dayschedule-api` |\n\n## Endpoints\n\nThe root endpoint of DaySchedule API is: `https://api.dayschedule.com/v1` and we recommend you to fetch our API over `https`.\n\n## Authentication Types\n\nThe DaySchedule API offers key based authentication:\n\n- `apiKey` as query parameter\n\nIn order to start using API, you need a DaySchedule account. [Sign Up here](https://app.dayschedule.com/signup), if you don’t have one.\n\nOnce you are logged in, go to the Settings page and then [API keys page](https://app.dayschedule.com/settings/apikeys) to get your API key to start using the API.\n\n![Api keys for dayschedule appointment software](https://cdn.dayschedule.com/img/dayschedule-appointment-api-keys.png)\n\nWe use keys to allow access and in order to authorize API requests. Just add your API key in the query parameter for each API requests `apiKey=xxxxxxx`\n\nFor example:\n\n```\nhttps://api.dayschedule.com/v1/bookings?apiKey=xxxxxxx\n```\n\n## Postman collection\n\nYou may also download our [Postman collection](https://github.com/dayschedule/dayschedule-api/releases) to try out the complete appointments API on postman\n\nFollow the steps below -\n\n1. [Download postman collection](https://github.com/dayschedule/dayschedule-api/releases)\n2. Import in Postman\n3. Create an environment on Postman with following parameters\n\n```\nAPI_KEY: Your api key\nBASE_URL: https://api.dayschedule.com/v1\n```\n\n![Appointment booking API on Postman](https://cdn.dayschedule.com/img/dayschedule-api-postman.png)\n\n## Rate limit\n\nThe appointment booking API is subject to a rate limit to ensure the fair usage and optimal performance. The rate-limit depends on your subscription plan:\n\n| Plan       | Rate Limit (Requests per 10 seconds) |\n|------------|--------------------------------------|\n| Professional        | 60                                   |\n| Business   | 120                                  |\n| Enterprise | 300                                  |\n\n\nThis means that the API allows up to 60 requests per 10 seconds. If this limit is exceeded, additional requests within the same time frame will be rejected with `429` status code until the next 10-second interval begins. \n\nThis helps us to prevent server overload and maintain a smooth experience for all our customers. \n\nFor the [/availability API](/docs/api#tag/Availability), we recommend users to implement internal caching to cache the [available time slots](https://dayschedule.com/docs/t/how-to-set-working-hours-on-day-scheduling-app/298) for (n) seconds if the same date and resource_id are requested. This cached response should be invalidated [when a booking is created](https://dayschedule.com/docs/t/how-to-book-an-appointment-online/337). This approach will enhance your application’s speed and help you adhere to the API rate limit."
  },
  "servers": [
    {
      "url": "https://api.dayschedule.com/v1",
      "description": "API"
    }
  ],
  "components": {
    "schemas": {
      "Links": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 32,
            "description": "To provide custom aliases for short links. It will be auto-generated if not provided",
            "example": "meet"
          },
          "user_id": {
            "type": "number",
            "nullable": true,
            "example": 1,
            "readOnly": true
          },
          "url": {
            "type": "string",
            "minLength": 10,
            "format": "uri",
            "description": "Appointment page link",
            "example": "https://meet.dayschedule.com"
          },
          "short_url": {
            "type": "string",
            "nullable": true,
            "readOnly": true,
            "example": "ds7.io/meet"
          },
          "expire_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "To expire the short link automatically on a given date time, or leave blank for no expiration.",
            "example": "2023-20-12T08:40:00"
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "UTM parameters for conversion tracking",
            "example": {
              "utm_source": "ads"
            }
          },
          "created_at": {
            "type": "string",
            "nullable": true,
            "example": "1970-01-01T00:00:00.000Z",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "example": "1970-01-01T00:00:00.000Z",
            "readOnly": true
          }
        },
        "required": [
          "url"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/resources": {
      "get": {
        "tags": [
          "Resources"
        ],
        "description": "Get all resources",
        "parameters": [
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000,
              "default": 1000
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "event"
                            ]
                          },
                          "resource_id": {
                            "type": "number",
                            "nullable": true
                          },
                          "account_id": {
                            "type": "number",
                            "nullable": true
                          },
                          "page_id": {
                            "type": "number",
                            "minimum": 0,
                            "exclusiveMinimum": true
                          },
                          "user_id": {
                            "type": "number",
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "slug": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 120
                          },
                          "language": {
                            "type": "string",
                            "enum": [
                              "ar",
                              "zh",
                              "da",
                              "nl",
                              "en-US",
                              "est",
                              "fr",
                              "de",
                              "el",
                              "he",
                              "hi",
                              "id",
                              "it",
                              "ja",
                              "ko",
                              "pt",
                              "ru",
                              "es",
                              "sv",
                              "th",
                              "tr",
                              "vi"
                            ],
                            "default": "en-US"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 5000
                          },
                          "color": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 7
                          },
                          "period": {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "calendar_days",
                                      "business_days"
                                    ]
                                  },
                                  "days": {
                                    "type": "number",
                                    "minimum": 0,
                                    "default": 60
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "ranges"
                                    ]
                                  },
                                  "start_date": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "end_date": {
                                    "type": "string",
                                    "format": "date"
                                  }
                                },
                                "required": [
                                  "type",
                                  "start_date",
                                  "end_date"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "specific"
                                    ]
                                  },
                                  "specific": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "on",
                                            "every"
                                          ]
                                        },
                                        "weekday": {
                                          "type": "string"
                                        },
                                        "date": {
                                          "type": "string"
                                        },
                                        "time": {
                                          "type": "string"
                                        },
                                        "time_zone": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type"
                                      ]
                                    },
                                    "minItems": 1,
                                    "maxItems": 32
                                  }
                                },
                                "required": [
                                  "type",
                                  "specific"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "any"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              }
                            ]
                          },
                          "notice": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "type": {
                                "type": "string",
                                "nullable": true,
                                "enum": [
                                  "days",
                                  "hours",
                                  "minutes"
                                ],
                                "default": "minutes"
                              },
                              "value": {
                                "type": "number",
                                "nullable": true,
                                "default": 0
                              }
                            }
                          },
                          "payment": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "is_enabled": {
                                "type": "boolean"
                              },
                              "gateways": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "stripe",
                                    "paypal",
                                    "razorpay",
                                    "cashfree",
                                    "mollie",
                                    "cash",
                                    "upi"
                                  ]
                                },
                                "default": []
                              }
                            }
                          },
                          "rank": {
                            "type": "number",
                            "nullable": true,
                            "default": 1
                          },
                          "prices": {
                            "type": "array",
                            "nullable": true,
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "duration": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "nullable": true
                                    }
                                  ]
                                },
                                "amount": {
                                  "type": "number",
                                  "minimum": 0.1
                                },
                                "currency": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 3
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ]
                            },
                            "default": []
                          },
                          "is_template": {
                            "type": "boolean",
                            "nullable": true,
                            "default": false
                          },
                          "questions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text",
                                    "radio",
                                    "tel",
                                    "number",
                                    "textarea",
                                    "file",
                                    "email",
                                    "dropdown",
                                    "date",
                                    "checkbox"
                                  ],
                                  "default": "text"
                                },
                                "name": {
                                  "type": "string",
                                  "minLength": 2
                                },
                                "label": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "required": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "placeholder": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "pattern": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "options": {
                                  "type": "array",
                                  "nullable": true,
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string"
                                      },
                                      "label": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "key",
                                      "label"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "name",
                                "label"
                              ]
                            },
                            "minItems": 1,
                            "maxItems": 32
                          },
                          "form": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "heading": {
                                "type": "string",
                                "default": "Registration"
                              }
                            }
                          },
                          "settings": {
                            "type": "object",
                            "properties": {
                              "confirmation": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "default",
                                      "thanks",
                                      "link",
                                      "redirect"
                                    ]
                                  },
                                  "link": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "text": {
                                        "type": "string",
                                        "nullable": true
                                      }
                                    },
                                    "default": {}
                                  },
                                  "redirect": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "nullable": true
                                      }
                                    },
                                    "default": {}
                                  },
                                  "message": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "default": {}
                              },
                              "guest": {
                                "type": "object",
                                "properties": {
                                  "is_allowed": {
                                    "type": "boolean",
                                    "nullable": true,
                                    "default": true
                                  },
                                  "max_allowed": {
                                    "type": "number",
                                    "nullable": true,
                                    "default": 10
                                  },
                                  "is_chargeable": {
                                    "type": "boolean",
                                    "nullable": true,
                                    "default": true
                                  }
                                },
                                "default": {}
                              },
                              "attendees": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "default": []
                              },
                              "privacy": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "public",
                                      "private",
                                      "protected"
                                    ],
                                    "default": "public"
                                  },
                                  "passcode": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "default": {}
                              },
                              "policy": {
                                "type": "object",
                                "properties": {
                                  "reschedule": {
                                    "type": "object",
                                    "properties": {
                                      "is_enabled": {
                                        "type": "boolean",
                                        "nullable": true,
                                        "default": true
                                      },
                                      "description": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "terms": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "nullable": true,
                                            "enum": [
                                              "days",
                                              "hours",
                                              "minutes"
                                            ]
                                          },
                                          "value": {
                                            "type": "number",
                                            "nullable": true
                                          }
                                        },
                                        "default": {
                                          "type": "minutes",
                                          "value": 30
                                        }
                                      }
                                    },
                                    "default": {}
                                  },
                                  "cancellation": {
                                    "type": "object",
                                    "properties": {
                                      "is_enabled": {
                                        "type": "boolean",
                                        "nullable": true,
                                        "default": true
                                      },
                                      "description": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "terms": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "nullable": true,
                                            "enum": [
                                              "days",
                                              "hours",
                                              "minutes"
                                            ]
                                          },
                                          "value": {
                                            "type": "number",
                                            "nullable": true
                                          }
                                        },
                                        "default": {
                                          "type": "minutes",
                                          "value": 30
                                        }
                                      }
                                    },
                                    "default": {}
                                  }
                                },
                                "default": {}
                              },
                              "require_approval": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              },
                              "check_calendar_conflict": {
                                "type": "boolean",
                                "nullable": true,
                                "default": true
                              },
                              "prevent_duplicates": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              },
                              "email_to_invitee": {
                                "type": "boolean",
                                "nullable": true,
                                "default": true
                              },
                              "email_to_host": {
                                "type": "boolean",
                                "nullable": true,
                                "default": true
                              },
                              "date_format": {
                                "type": "string",
                                "default": "MMMM, DD YYYY"
                              },
                              "time_format": {
                                "type": "string",
                                "default": "h:mm a"
                              },
                              "is_timezone_locked": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              },
                              "hide_timezone": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              },
                              "hide_language": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              },
                              "skip_form": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              },
                              "calendar_invite_to_invitee": {
                                "type": "boolean",
                                "nullable": true,
                                "default": true
                              },
                              "short_link_only": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              }
                            },
                            "default": {}
                          },
                          "is_enabled": {
                            "type": "boolean",
                            "nullable": true,
                            "default": true
                          },
                          "internal_note": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 500
                          },
                          "booking_url": {
                            "type": "string",
                            "nullable": true,
                            "readOnly": true
                          },
                          "created_at": {
                            "type": "string",
                            "nullable": true,
                            "readOnly": true
                          },
                          "updated_at": {
                            "type": "string",
                            "nullable": true,
                            "example": "1970-01-01T00:00:00.000Z",
                            "readOnly": true
                          },
                          "event_type": {
                            "type": "string",
                            "enum": [
                              "group",
                              "round_robin",
                              "one_on_one"
                            ]
                          },
                          "locations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "google_meet",
                                    "zoom",
                                    "zoho",
                                    "microsoft_teams",
                                    "goto_meeting",
                                    "webex",
                                    "joinme",
                                    "physical",
                                    "virtual",
                                    "phone",
                                    "ask_invitee",
                                    "inbound_call"
                                  ]
                                },
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "email": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "phone": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "address": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "city": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "state": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "zip_code": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "country": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "latitude": {
                                  "type": "number",
                                  "nullable": true
                                },
                                "longitude": {
                                  "type": "number",
                                  "nullable": true
                                },
                                "place_id": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "join_url": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "remarks": {
                                  "type": "string",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "type"
                              ]
                            },
                            "maxItems": 24
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "user_id": {
                                  "type": "number",
                                  "minimum": 0,
                                  "exclusiveMinimum": true
                                },
                                "location": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "google_meet",
                                        "zoom",
                                        "zoho",
                                        "microsoft_teams",
                                        "goto_meeting",
                                        "webex",
                                        "joinme",
                                        "physical",
                                        "virtual",
                                        "phone",
                                        "ask_invitee",
                                        "inbound_call"
                                      ]
                                    },
                                    "name": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "email": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "phone": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "address": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "city": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "state": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "zip_code": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "country": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "latitude": {
                                      "type": "number",
                                      "nullable": true
                                    },
                                    "longitude": {
                                      "type": "number",
                                      "nullable": true
                                    },
                                    "place_id": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "join_url": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "remarks": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "required": [
                                    "type"
                                  ]
                                },
                                "priority": {
                                  "type": "number",
                                  "nullable": true,
                                  "maximum": 1000,
                                  "minimum": 0
                                }
                              },
                              "required": [
                                "user_id",
                                "location"
                              ]
                            },
                            "default": []
                          },
                          "schedule_id": {
                            "type": "number",
                            "nullable": true,
                            "minimum": 0,
                            "exclusiveMinimum": true
                          },
                          "durations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "days",
                                    "hours",
                                    "minutes"
                                  ],
                                  "default": "minutes"
                                },
                                "value": {
                                  "type": "number",
                                  "minimum": 1,
                                  "default": 30
                                },
                                "is_default": {
                                  "type": "boolean",
                                  "nullable": true
                                }
                              }
                            },
                            "minItems": 1,
                            "maxItems": 10
                          },
                          "slots": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "type": {
                                "type": "string",
                                "nullable": true,
                                "enum": [
                                  "days",
                                  "hours",
                                  "minutes"
                                ],
                                "default": "minutes"
                              },
                              "value": {
                                "type": "number",
                                "nullable": true,
                                "default": 0
                              }
                            }
                          },
                          "break": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "after": {
                                "type": "number",
                                "nullable": true,
                                "minimum": 0,
                                "maximum": 120,
                                "default": 0
                              },
                              "before": {
                                "type": "number",
                                "nullable": true,
                                "minimum": 0,
                                "maximum": 120,
                                "default": 0
                              }
                            }
                          },
                          "capacity": {
                            "type": "object",
                            "properties": {
                              "is_unlimited": {
                                "type": "boolean",
                                "nullable": true
                              },
                              "type": {
                                "type": "string",
                                "nullable": true,
                                "enum": [
                                  "perday",
                                  "perslot",
                                  "overall"
                                ]
                              },
                              "max": {
                                "type": "number",
                                "nullable": true
                              },
                              "is_public": {
                                "type": "boolean",
                                "nullable": true
                              }
                            }
                          }
                        },
                        "required": [
                          "type",
                          "page_id",
                          "name",
                          "period",
                          "questions",
                          "event_type",
                          "locations",
                          "durations",
                          "capacity"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "webinar"
                            ]
                          },
                          "resource_id": {
                            "type": "number",
                            "nullable": true
                          },
                          "account_id": {
                            "type": "number",
                            "nullable": true
                          },
                          "page_id": {
                            "type": "number",
                            "minimum": 0,
                            "exclusiveMinimum": true
                          },
                          "user_id": {
                            "type": "number",
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "slug": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 120
                          },
                          "language": {
                            "type": "string",
                            "enum": [
                              "ar",
                              "zh",
                              "da",
                              "nl",
                              "en-US",
                              "est",
                              "fr",
                              "de",
                              "el",
                              "he",
                              "hi",
                              "id",
                              "it",
                              "ja",
                              "ko",
                              "pt",
                              "ru",
                              "es",
                              "sv",
                              "th",
                              "tr",
                              "vi"
                            ],
                            "default": "en-US"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 5000
                          },
                          "color": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 7
                          },
                          "period": {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "calendar_days",
                                      "business_days"
                                    ]
                                  },
                                  "days": {
                                    "type": "number",
                                    "minimum": 0,
                                    "default": 60
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "ranges"
                                    ]
                                  },
                                  "start_date": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "end_date": {
                                    "type": "string",
                                    "format": "date"
                                  }
                                },
                                "required": [
                                  "type",
                                  "start_date",
                                  "end_date"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "specific"
                                    ]
                                  },
                                  "specific": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "on",
                                            "every"
                                          ]
                                        },
                                        "weekday": {
                                          "type": "string"
                                        },
                                        "date": {
                                          "type": "string"
                                        },
                                        "time": {
                                          "type": "string"
                                        },
                                        "time_zone": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type"
                                      ]
                                    },
                                    "minItems": 1,
                                    "maxItems": 32
                                  }
                                },
                                "required": [
                                  "type",
                                  "specific"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "any"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              }
                            ]
                          },
                          "notice": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "type": {
                                "type": "string",
                                "nullable": true,
                                "enum": [
                                  "days",
                                  "hours",
                                  "minutes"
                                ],
                                "default": "minutes"
                              },
                              "value": {
                                "type": "number",
                                "nullable": true,
                                "default": 0
                              }
                            }
                          },
                          "payment": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "is_enabled": {
                                "type": "boolean"
                              },
                              "gateways": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "stripe",
                                    "paypal",
                                    "razorpay",
                                    "cashfree",
                                    "mollie",
                                    "cash",
                                    "upi"
                                  ]
                                },
                                "default": []
                              }
                            }
                          },
                          "rank": {
                            "type": "number",
                            "nullable": true,
                            "default": 1
                          },
                          "prices": {
                            "type": "array",
                            "nullable": true,
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "duration": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "nullable": true
                                    }
                                  ]
                                },
                                "amount": {
                                  "type": "number",
                                  "minimum": 0.1
                                },
                                "currency": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 3
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ]
                            },
                            "default": []
                          },
                          "is_template": {
                            "type": "boolean",
                            "nullable": true,
                            "default": false
                          },
                          "questions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text",
                                    "radio",
                                    "tel",
                                    "number",
                                    "textarea",
                                    "file",
                                    "email",
                                    "dropdown",
                                    "date",
                                    "checkbox"
                                  ],
                                  "default": "text"
                                },
                                "name": {
                                  "type": "string",
                                  "minLength": 2
                                },
                                "label": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "required": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "placeholder": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "pattern": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "options": {
                                  "type": "array",
                                  "nullable": true,
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string"
                                      },
                                      "label": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "key",
                                      "label"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "name",
                                "label"
                              ]
                            },
                            "minItems": 1,
                            "maxItems": 32
                          },
                          "form": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "heading": {
                                "type": "string",
                                "default": "Registration"
                              }
                            }
                          },
                          "settings": {
                            "type": "object",
                            "properties": {
                              "confirmation": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "default",
                                      "thanks",
                                      "link",
                                      "redirect"
                                    ]
                                  },
                                  "link": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "text": {
                                        "type": "string",
                                        "nullable": true
                                      }
                                    },
                                    "default": {}
                                  },
                                  "redirect": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "nullable": true
                                      }
                                    },
                                    "default": {}
                                  },
                                  "message": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "default": {}
                              },
                              "guest": {
                                "type": "object",
                                "properties": {
                                  "is_allowed": {
                                    "type": "boolean",
                                    "nullable": true,
                                    "default": true
                                  },
                                  "max_allowed": {
                                    "type": "number",
                                    "nullable": true,
                                    "default": 10
                                  },
                                  "is_chargeable": {
                                    "type": "boolean",
                                    "nullable": true,
                                    "default": true
                                  }
                                },
                                "default": {}
                              },
                              "attendees": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "default": []
                              },
                              "privacy": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "public",
                                      "private",
                                      "protected"
                                    ],
                                    "default": "public"
                                  },
                                  "passcode": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "default": {}
                              },
                              "policy": {
                                "type": "object",
                                "properties": {
                                  "reschedule": {
                                    "type": "object",
                                    "properties": {
                                      "is_enabled": {
                                        "type": "boolean",
                                        "nullable": true,
                                        "default": true
                                      },
                                      "description": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "terms": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "nullable": true,
                                            "enum": [
                                              "days",
                                              "hours",
                                              "minutes"
                                            ]
                                          },
                                          "value": {
                                            "type": "number",
                                            "nullable": true
                                          }
                                        },
                                        "default": {
                                          "type": "minutes",
                                          "value": 30
                                        }
                                      }
                                    },
                                    "default": {}
                                  },
                                  "cancellation": {
                                    "type": "object",
                                    "properties": {
                                      "is_enabled": {
                                        "type": "boolean",
                                        "nullable": true,
                                        "default": true
                                      },
                                      "description": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "terms": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "nullable": true,
                                            "enum": [
                                              "days",
                                              "hours",
                                              "minutes"
                                            ]
                                          },
                                          "value": {
                                            "type": "number",
                                            "nullable": true
                                          }
                                        },
                                        "default": {
                                          "type": "minutes",
                                          "value": 30
                                        }
                                      }
                                    },
                                    "default": {}
                                  }
                                },
                                "default": {}
                              },
                              "require_approval": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              },
                              "check_calendar_conflict": {
                                "type": "boolean",
                                "nullable": true,
                                "default": true
                              },
                              "prevent_duplicates": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              },
                              "email_to_invitee": {
                                "type": "boolean",
                                "nullable": true,
                                "default": true
                              },
                              "email_to_host": {
                                "type": "boolean",
                                "nullable": true,
                                "default": true
                              },
                              "date_format": {
                                "type": "string",
                                "default": "MMMM, DD YYYY"
                              },
                              "time_format": {
                                "type": "string",
                                "default": "h:mm a"
                              },
                              "is_timezone_locked": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              },
                              "hide_timezone": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              },
                              "hide_language": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              },
                              "skip_form": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              },
                              "calendar_invite_to_invitee": {
                                "type": "boolean",
                                "nullable": true,
                                "default": true
                              },
                              "short_link_only": {
                                "type": "boolean",
                                "nullable": true,
                                "default": false
                              }
                            },
                            "default": {}
                          },
                          "is_enabled": {
                            "type": "boolean",
                            "nullable": true,
                            "default": true
                          },
                          "internal_note": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 500
                          },
                          "booking_url": {
                            "type": "string",
                            "nullable": true,
                            "readOnly": true
                          },
                          "created_at": {
                            "type": "string",
                            "nullable": true,
                            "readOnly": true
                          },
                          "updated_at": {
                            "type": "string",
                            "nullable": true,
                            "example": "1970-01-01T00:00:00.000Z",
                            "readOnly": true
                          },
                          "banner": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "background": {
                                "type": "string",
                                "nullable": true
                              },
                              "url": {
                                "type": "string",
                                "nullable": true
                              },
                              "alt": {
                                "type": "string",
                                "nullable": true
                              },
                              "overlay": {
                                "type": "boolean",
                                "nullable": true
                              },
                              "color": {
                                "type": "string",
                                "nullable": true
                              },
                              "align": {
                                "type": "string",
                                "nullable": true,
                                "enum": [
                                  "left",
                                  "right"
                                ]
                              },
                              "credit": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "username": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "link": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          },
                          "locations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "google_meet",
                                    "zoom",
                                    "zoho",
                                    "microsoft_teams",
                                    "goto_meeting",
                                    "webex",
                                    "joinme",
                                    "physical",
                                    "virtual",
                                    "phone",
                                    "ask_invitee",
                                    "inbound_call"
                                  ]
                                },
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "email": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "phone": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "address": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "city": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "state": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "zip_code": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "country": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "latitude": {
                                  "type": "number",
                                  "nullable": true
                                },
                                "longitude": {
                                  "type": "number",
                                  "nullable": true
                                },
                                "place_id": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "join_url": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "remarks": {
                                  "type": "string",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "type"
                              ]
                            },
                            "minItems": 1,
                            "maxItems": 1
                          },
                          "durations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "days",
                                    "hours",
                                    "minutes"
                                  ],
                                  "default": "minutes"
                                },
                                "value": {
                                  "type": "number",
                                  "minimum": 1,
                                  "default": 30
                                },
                                "is_default": {
                                  "type": "boolean",
                                  "nullable": true
                                }
                              }
                            },
                            "minItems": 1,
                            "maxItems": 1
                          },
                          "capacity": {
                            "type": "object",
                            "properties": {
                              "is_unlimited": {
                                "type": "boolean",
                                "nullable": true
                              },
                              "type": {
                                "type": "string",
                                "nullable": true,
                                "enum": [
                                  "perday",
                                  "perslot",
                                  "overall"
                                ]
                              },
                              "max": {
                                "type": "number",
                                "nullable": true
                              },
                              "is_public": {
                                "type": "boolean",
                                "nullable": true
                              }
                            }
                          }
                        },
                        "required": [
                          "type",
                          "page_id",
                          "name",
                          "period",
                          "questions",
                          "locations",
                          "durations",
                          "capacity"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "service"
                            ]
                          },
                          "resource_id": {
                            "type": "number",
                            "nullable": true
                          },
                          "account_id": {
                            "type": "number",
                            "nullable": true
                          },
                          "page_id": {
                            "type": "number",
                            "minimum": 0,
                            "exclusiveMinimum": true
                          },
                          "user_id": {
                            "type": "number",
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "slug": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 120
                          },
                          "language": {
                            "type": "string",
                            "enum": [
                              "ar",
                              "zh",
                              "da",
                              "nl",
                              "en-US",
                              "est",
                              "fr",
                              "de",
                              "el",
                              "he",
                              "hi",
                              "id",
                              "it",
                              "ja",
                              "ko",
                              "pt",
                              "ru",
                              "es",
                              "sv",
                              "th",
                              "tr",
                              "vi"
                            ],
                            "default": "en-US"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 5000
                          },
                          "color": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 7
                          },
                          "period": {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "calendar_days",
                                      "business_days"
                                    ]
                                  },
                                  "days": {
                                    "type": "number",
                                    "minimum": 0,
                                    "default": 60
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "ranges"
                                    ]
                                  },
                                  "start_date": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "end_date": {
                                    "type": "string",
                                    "format": "date"
                                  }
                                },
                                "required": [
                                  "type",
                                  "start_date",
                                  "end_date"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "specific"
                                    ]
                                  },
                                  "specific": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "on",
                                            "every"
                                          ]
                                        },
                                        "weekday": {
                                          "type": "string"
                                        },
                                        "date": {
                                          "type": "string"
                                        },
                                        "time": {
                                          "type": "string"
                                        },
                                        "time_zone": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type"
                                      ]
                                    },
                                    "minItems": 1,
                                    "maxItems": 32
                                  }
                                },
                                "required": [
                                  "type",
                                  "specific"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "any"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              }
                            ]
                          },
                          "notice": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "type": {
                                "type": "string",
                                "nullable": true,
                                "enum": [
                                  "days",
                                  "hours",
                                  "minutes"
                                ],
                                "default": "minutes"
                              },
                              "value": {
                                "type": "number",
                                "nullable": true,
                                "default": 0
                              }
                            }
                          },
                          "payment": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "is_enabled": {
                                "type": "boolean"
                              },
                              "gateways": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "stripe",
                                    "paypal",
                                    "razorpay",
                                    "cashfree",
                                    "mollie",
                                    "cash",
                                    "upi"
                                  ]
                                },
                                "default": []
                              }
                            }
                          },
                          "rank": {
                            "type": "number",
                            "nullable": true,
                            "default": 1
                          },
                          "prices": {
                            "type": "array",
                            "nullable": true,
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "duration": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "nullable": true
                                    }
                                  ]
                                },
                                "amount": {
                                  "type": "number",
                                  "minimum": 0.1
                                },
                                "currency": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 3
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ]
                            },
                            "default": []
                          },
                          "is_template": {
                            "type": "boolean",
                            "nullable": true,
                            "default": false
                          },
                          "questions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text",
                                    "radio",
                                    "tel",
                                    "number",
                                    "textarea",
                                    "file",
                                    "email",
                                    "dropdown",
                                    "date",
                                    "checkbox"
                                  ],
                                  "default": "text"
                                },
                                "name": {
                                  "type": "string",
                                  "minLength": 2
                                },
                                "label": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "required": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "placeholder": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "pattern": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "options": {
                                  "type": "array",
                                  "nullable": true,
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string"
[...]
